@import "../../style/variable";

.todo-greet-message-wrapper {
    text-align: center;
    box-sizing: inherit;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s $a-curve;

    .todo-greet-focus-message {
        text-align: center;
        box-sizing: inherit;
        font-size: 1.125rem;
        line-height: 1.8;

        span {
            text-align: center;
            font-size: 1.125rem;
            line-height: 1.8;
            box-sizing: inherit;
        }
    }
}

.show-todo-greet-message {
    opacity: 1;
    transition: opacity 0.5s $a-curve;
}
