.greeting-section .greeting-display {
  position: relative;
  transition: opacity 0.5s ease;
  font-weight: 500;
  line-height: normal;
  font-size: 90%;
  box-sizing: inherit;
  position: relative;
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 500;
  line-height: normal;
}

.greeting-section .greeting-display .greeting-side-col {
  text-align: center;
  font-weight: 500;
  line-height: normal;
  box-sizing: inherit;
  flex: 1 0 50px;
  display: inline-flex;
  align-items: center;
}

.greeting-section .greeting-display .greeting-text-container {
  transition: opacity 0.5s ease;
  text-align: center;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
}

.greeting-section .greeting-display .greeting-text-container .greeting-text-content {
  text-align: center;
  transition: opacity 0.5s ease;
  font-size: 337.5%;
  display: inline;
}

.greeting-section .greeting-display .greeting-text-container .greeting-text-content .greeting-message {
  text-align: center;
  font-weight: 500;
  line-height: normal;
  box-sizing: inherit;
  transition: opacity 0.5s ease;
  margin-right: 0.3em;
}

.greeting-section .greeting-display .greeting-text-container .greeting-text-content .greeting-name-container {
  white-space: nowrap;
}

.greeting-section .greeting-display .greeting-text-container .greeting-text-content .greeting-name-container .greeting-name-wrapper {
  position: relative;
  white-space: nowrap;
}

.greeting-section .greeting-display .greeting-text-container .greeting-text-content .greeting-name-container .punctuation {
  white-space: nowrap;
}

.greeting-section .greeting-display .greeting-menu-container {
  font-weight: 500;
  font-size: 337.5%;
  text-align: center;
  font-weight: 500;
  line-height: normal;
  box-sizing: inherit;
  flex: 1 0 50px;
  display: inline-flex;
  align-items: center;
  transition: opacity 0.5s ease;
}

.greeting-section .greeting-display .greeting-menu-container .greeting-menu-display {
  text-align: center;
  font-weight: 500;
  line-height: normal;
  box-sizing: inherit;
  position: relative;
  padding-left: 4px;
  transition: opacity 0.5s ease;
}

.greeting-section .greeting-display .greeting-menu-container .greeting-menu-display .greeting-menu-wrapper {
  text-align: center;
  font-weight: 500;
  line-height: normal;
  box-sizing: inherit;
  cursor: pointer;
  padding: 5px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 9px;
  padding-left: 14px;
  padding-right: 14px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.greeting-section .greeting-display .greeting-menu-container .greeting-menu-display .greeting-menu-wrapper svg {
  text-align: center;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  box-sizing: inherit;
  fill: #fff;
  height: 18px;
}

.greeting-section .greeting-display .greeting-menu-container .greeting-menu-display .greeting-menu-wrapper svg path {
  fill: white;
}

.greeting-section:hover .greeting-display .greeting-menu-container .greeting-menu-display .greeting-menu-wrapper {
  opacity: 1;
  transition: opacity 0.5s ease;
}
/*# sourceMappingURL=greeting.css.map */