@import "../../style/variable";


.current-location-group {
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: .2s opacity;
    margin-bottom: 21px;

    .input-wrapper {
        position: relative;

        .current-location-search {
            margin: 0;
            background: 0 0;
            width: 100%;
            padding: 6px 1px;
            border: 0;
            border-radius: 0;
            border-bottom: 2px solid $button-background-hover;
            color: $app-text-color;
            outline: 0;
            transition: border .1s $a-curve;
            font-size: 19px;
            padding-right: 40px;
        }

        .icon-row {
            display: flex;
            align-items: center;
            position: absolute;
            top: 3px;
            right: 0;

            .weather-location-reset-container {
                display: inline-block;
                opacity: .5;
                padding: 3px;
                cursor: pointer;

                .weather-location-reset-icon {
                    height: 15px;
                    fill: $icon-color;
                    vertical-align: -10%;
                }
            }

            .clear-current-weather {
                padding: 0 5px;
                bottom: 0;
                cursor: pointer;
                font-size: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;

                .icon-cancel {
                    text-align: left;
                    text-shadow: none;
                    font-style: normal;
                    font-size: 1rem;
                    cursor: pointer;
                    box-sizing: inherit;
                    fill: $icon-color;
                    height: 9px;
                    opacity: .5;


                }

                &::after {
                    content: "";
                    height: 25px;
                    width: 25px;
                    position: absolute;
                    z-index: 0;
                    display: block;
                    border-radius: 50px;
                }



                &:hover {
                    &::after {
                        background: hsla(0, 0%, 100%, 0.12);
                    }
                }
            }
        }
    }

    .edit-location-dropdown {
        display: block;
        background: $dropdown-bg;
        border-radius: 0 0 $border-radius $border-radius;
        box-shadow: none;
        transition: transform .25s $a-curve,
            height .25s $a-curve;
        // overflow: hidden;

        .searching {
            padding: 4px 7px;
            display: block;
            font-size: 87.5%;
            opacity: .6;

            i {
                visibility: visible;
                color: $app-text-color;
                text-align: left;
                text-shadow: none;
                font-size: 87.5%;
                box-sizing: inherit;
                font-style: normal;
                animation: blink 1.4s infinite both;

                &:nth-child(2) {
                    animation-delay: .2s;
                }

                &:nth-child(3) {
                    animation-delay: .4s;
                }

                @keyframes blink {
                    0% {
                        opacity: .2;
                    }

                    20% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 0;
                    }
                }
            }

        }

        .location-dropdown-list {
            color: $app-text-color;
            text-align: left;
            text-shadow: none;
            box-sizing: inherit;
            margin: 0;
            list-style: none;
            position: relative;
            z-index: 0;
            transition: transform .25s $a-curve,
                height .25s $a-curve;
            padding: 6px 0;
            max-height: 140px;
            overflow-x: hidden;
            overflow-y: auto;
            display: block;

            li {
                text-shadow: none;
                list-style: none;
                box-sizing: inherit;
                max-width: none;
                padding: 4px 9px;
                opacity: .8;
                cursor: pointer;
                font-size: .875rem;

                span {
                    // color: var(--app-text-color);
                    text-shadow: none;
                    list-style: none;
                    cursor: pointer;
                    font-size: .875rem;
                    box-sizing: inherit;
                    margin-right: 2px;
                }
            }
        }

        .not-found {
            text-align: left;
            text-shadow: none;
            box-sizing: inherit;
            max-width: none;
            padding: 4px 9px;
            cursor: pointer;
            font-size: .875rem;
            margin: 4px 0;
            opacity: .6;
            display: block;
        }
    }

    
}


.display-edit-location {
    z-index: 1;
    opacity: 1;
}