.metric-stat {
    color: #fff;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    user-select: none;
    text-align: right;
    cursor: pointer;
    box-sizing: inherit;
    position: relative;
    font-size: 1.625rem;
    font-weight: 400;
    margin-right: -1px;
    white-space: nowrap;
    height: 30px;
    display: flex;
    flex-direction: row;

    .icon-weather {
        color: #fff;
        text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        user-select: none;
        text-align: right;
        cursor: pointer;
        font-size: 1.625rem;
        font-weight: 400;
        white-space: nowrap;
        box-sizing: inherit;
        height: 13px;
        fill: #fff;
        margin-right: 6px;

        // &::before {
        //     height: 1em;
        //     content: attr(data-icon);
        //     width: 1em;
        //     display: inline-block;
        //     font-family: icons;
        //     font-weight: 400;
        //     font-variant: normal;
        //     speak: none;
        //     text-align: center;
        //     text-decoration: inherit;
        //     text-transform: none;
        // }

    }

    .metric-stat-number {
        color: #fff;
        text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        user-select: none;
        text-align: right;
        cursor: pointer;
        font-size: 1.625rem;
        font-weight: 400;
        white-space: nowrap;
        box-sizing: inherit;
    }

    .weather-degree {
        color: #fff;
        text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        user-select: none;
        text-align: right;
        cursor: pointer;
        font-size: 1.625rem;
        font-weight: 400;
        white-space: nowrap;
        box-sizing: inherit;
    }

    //on hover hide this element
    .hide {
        color: #fff;
        text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        user-select: none;
        text-align: right;
        cursor: pointer;
        font-weight: 400;
        white-space: nowrap;
        box-sizing: inherit;
        display: block;
        position: absolute;
        left: 100%;
        top: 5px;
        animation: fadeout 4s ease 4s 1 normal;
        animation-fill-mode: forwards;
        font-size: 55%;
        text-transform: uppercase;
    }
}

.metric-label {
    color: #fff;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    user-select: none;
    text-align: right;
    cursor: pointer;
    box-sizing: inherit;
    margin: 0;
    padding: 0 0 3px;
    overflow-wrap: break-word;
    transition: opacity .5s ease;
    word-break: break-word;
    vertical-align: top;
    display: inline-block;
    font-size: .8125rem;
    outline: 0;

    .metric-label-name {
        color: #fff;
        text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        user-select: none;
        text-align: right;
        cursor: pointer;
        overflow-wrap: break-word;
        word-break: break-word;
        font-size: .8125rem;
        box-sizing: inherit;
        opacity: .85;
    }
}