@import "../../style/variable";
@import "../../style/mixin";

.time-section-container {
    transition: height 500ms ease;
    height: auto;


    .time-section-wrapper {
        color: hsl(0, 0%, 100%);
        text-shadow: 0 1px 5px hsla(0, 0%, 0%, 0.1);
        box-sizing: inherit;
        position: relative;

        
        .time-section-display {
            display: flex;
            transition: opacity 0.5s ease;
            font-size: 90%;
            margin: -3px 0;
            position: relative;

            .side-col {
                transition: opacity 0.5s ease;
                position: relative;

            }

            .more-time-left {
                justify-content: flex-end;

                .more-time-container {
                    --icon-size: 29px;
                    --icon-padding: 10px;
                    position: relative;
                    margin-right: 16px;

                    .more-dash-icon-wrapper {
                        cursor: pointer;
                        display: inline-flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 0;
                        vertical-align: top;
                        

                        .more-dash-icon {
                            transition: opacity 0.5s $a-curve;
                            fill: hsl(0, 0%, 100%);
                            @include icon-size(29px);
                            padding: $icon-padding;
                            box-sizing: content-box;
                            cursor: pointer;
                            vertical-align: top;
                            opacity: 0;

                        }

                        &::after {
                            content: "";
                            height: $icon-wrapper-size;
                            width: $icon-wrapper-size;
                            position: absolute;
                            z-index: 0;
                            display: block;
                            border-radius: 50px;
                        }

                        &:hover {
                            &::after {
                                background-color: $background-hover-icon;
                                transition: opacity 0.5s $a-curve;
                            }
                        }
                    }
                }
            }

            .main-time-container {
                .main-time-display {
                    font-size: 9rem;
                    cursor: default;
                    letter-spacing: -5px;
                    text-align: center;
                    line-height: 1;
                    transition: 0.6s;
                }

            }

            .time-right {
                .dash-icon-wrapper {
                    cursor: pointer;
                    padding: 5px;
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-left: 25px;

                    .more-icon {
                        transition: opacity 0.5s $a-curve;
                        cursor: pointer;
                        box-sizing: inherit;
                        fill: $icon-color;
                        opacity: 0;
                        @include icon-size(20px);
                    }


                    &::after {
                        content: "";
                        height: $size;
                        width: $size;
                        position: absolute;
                        z-index: 0;
                        display: block;
                        border-radius: 50px;
                    }

                    &:hover {
                        &::after {
                            background-color:  $background-hover-icon;
                            transition: opacity 0.5s $a-curve;
                        }
                    }

                    
                }
            }

            &:hover {
                .side-col {
                    .more {
                        .more-toggle {
                            .time-icon {
                                opacity: 1;
                                transition: opacity 0.5s $a-curve;
                            }
                        }
                    }
                }
            }
        }

        // .time-resize-sensor {
        //     font-size: 90%;
        //     direction: ltr;
        //     unicode-bidi: isolate;
        //     box-sizing: inherit;
        //     pointer-events: none;
        //     position: absolute;
        //     inset: 0px;
        //     overflow: hidden;
        //     z-index: -1;
        //     visibility: hidden;
        //     max-width: 100%;

        //     .resize-sensor-expand {
        //         pointer-events: none;
        //         position: absolute;
        //         inset: 0px;
        //         overflow: hidden;
        //         z-index: -1;
        //         visibility: hidden;
        //         max-width: 100%;

        //         .inner-time-sensor {
        //             // font-size: 90%;
        //             pointer-events: none;
        //             visibility: hidden;
        //             box-sizing: inherit;
        //             position: absolute;
        //             left: 0px;
        //             top: 0px;
        //             transition: all 0s ease 0s;
        //             width: 657px;
        //             height: 151px;
        //         }
        //     }

        //     .resize-sensor-shrink {
        //         pointer-events: none;
        //         position: absolute;
        //         inset: 0px;
        //         overflow: hidden;
        //         z-index: -1;
        //         visibility: hidden;
        //         max-width: 100%;

        //         .time-resize-shrink {
        //             position: absolute;
        //             left: 0px;
        //             top: 0px;
        //             transition: all 0s ease 0s;
        //             width: 200%;
        //             height: 200%;
        //         }
        //     }
        // }
    }
}