@import "../../style/mixin";

.todo-dropdown-container {
    margin-top: 4px;
    left: 6px;
    display: block;
    min-width: max-content;
    font-size: 120%;
    line-height: 120%;
    box-sizing: inherit;
    max-height: 100vh;
    max-width: 100vw;
    text-shadow: none;
    background: rgb(51, 51, 51);
    border-radius: 5px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    transition: transform .25s ease,height .25s ease;
    position: absolute;
    top: 100%;
    z-index: 100;
    text-align: left;
    padding: 0;
    right: auto;
    background-color: hsla(0, 0%, 6%, 0.925);
    color: hsl(0, 0%, 100%);

    @include responsive(tablet) {
        left: auto;
        right: -11px;
    }
    
    

    &::after {
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        display: block;
        opacity: 1;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        top: -7px;
        border-bottom: 7px solid hsla(0, 0%, 6%, 0.925);
        overflow: visible;
        left: 14px;


        @include responsive(tablet) {
            left: auto;
            right: 14px;
        }
    }

    .todo-dropdown-ul {
        transition: transform .25s ease,
        height .25s ease;
        font-size: 120%;
        line-height: 120%;
        text-shadow: none;
        text-align: left;
        margin: 0;
        list-style: none;
        padding: 6px 0;
        position: relative;
        z-index: 0;
        

        li {
            max-width: 280px;
            padding: 6px calc(21px - 6px);
            display: flex;
            align-items: center;
            position: relative;
            font-size: .875rem;
            font-weight: 400;
            line-height: normal;
            text-shadow: none;
            list-style: none;
            cursor: pointer;

            &:hover {
                background-color: hsla(0, 0%, 100%, 0.15)
            }

            .dropdown-list-label-wrapper {
                width: max-content;
                display: flex;
                align-items: center;
                flex-direction: row;

                .dropdown-list-icon-wrapper {
                    width: 15px;
                    margin-left: -1px;
                    margin-right: 8px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        cursor: pointer;
                        font-size: .875rem;
                        font-weight: 400;
                        line-height: normal;
                        height: 13px;
                        fill: hsl(0, 0%, 100%);
                        opacity: .45;
                        display: inline-block;
                    }

                    .icon-delete {
                        height: 10px;
                        margin-top: 1px;
                    }

                    .icon-pomodoro {
                        height: 15px;
                    }

                    .icon-autofocus {
                        height: 9px;
                    }
                }
            }
        }
    }
}