@import "../../style/mixin";

.weather-top-right {
    display: flex;
    min-height: 150px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: right;

    .weather {
        text-align: right;
        box-sizing: inherit;
        position: relative;
        display: inline-block;
        transition: opacity 0.5s ease;
        order: 0;

        .metric-item {
            box-sizing: inherit;
            vertical-align: top;
            position: relative;
            display: inline-block;
            border-radius: 2px;
            text-align: right;
            padding: 11px 10px 10px;
            cursor: pointer;
            order: 1;
            padding-right: 20px;

            @include responsive(smallPhone) {
                padding-top: 16px;
            }

            .location-metric-label-name-container {
                margin: 0;
                padding: 0 0 3px;
                overflow-wrap: break-word;
                transition: opacity .5s ease;
                word-break: break-word;
                vertical-align: top;
                display: inline-block;
                font-size: .8125rem;

                location-metric-label-name {
                    text-align: right;
                    cursor: pointer;
                    overflow-wrap: break-word;
                    word-break: break-word;
                    font-size: .8125rem;
                    box-sizing: inherit;
                    opacity: .85;
                }
            }
            
        }
    }
}