.date-weather-header {
    height: 60px;
    display: flex;
    align-items: flex-start;
    // justify-content: space-between;
    flex: 0 0 auto;

    .top-center {
            flex: 1 1 auto;
            position: relative;
            display: flex;
            --icon-size: 32px;
            justify-content: center;
            flex-grow: 0;
    }
}