.date-top-left {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    // max-height: 60px;
    padding: 8px;
    min-height: 150px;
    align-items: stretch;
    // display: flex;
    // min-height: 150px;
    // flex-direction: row-reverse;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    // text-align: left;

    .date {
        text-align: right;
        box-sizing: inherit;
        position: relative;
        display: inline-block;
        transition: opacity 0.5s ease;
        order: 0;

        .date-metric-item {
            vertical-align: top;
            position: relative;
            display: inline-block;
            border-radius: 2px;
            text-align: right;
            padding: 11px 10px 10px;
            cursor: pointer;
            order: 1;
            padding-right: 20px;

            .date-metric-stat {
                text-align: right;
                cursor: pointer;
                position: relative;
                font-size: 1.625rem;
                font-weight: 400;
                margin-right: -1px;
                white-space: nowrap;
                height: 30px;
                display: flex;
                flex-direction: row;

                //on hover hide this element
                .hide {
                    text-align: right;
                    cursor: pointer;
                    font-weight: 400;
                    white-space: nowrap;
                    display: block;
                    position: absolute;
                    left: 100%;
                    top: 5px;
                    animation: fadeout 4s ease 4s 1 normal;
                    animation-fill-mode: forwards;
                    font-size: 55%;
                    text-transform: uppercase;
                }
            }

            .metric-label {
                text-align: right;
                cursor: pointer;
                margin: 0;
                padding: 0 0 3px;
                overflow-wrap: break-word;
                transition: opacity .5s ease;
                word-break: break-word;
                vertical-align: top;
                display: inline-block;
                font-size: .8125rem;
                outline: 0;

                .metric-label-name {
                    text-align: right;
                    cursor: pointer;
                    overflow-wrap: break-word;
                    word-break: break-word;
                    font-size: .8125rem;
                    box-sizing: inherit;
                    opacity: .85;
                }
            }

        }
    }
}

// .date-top-left {
//     color: #fff;
//     font-size: 100%;
//     text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
//     user-select: none;
//     flex: 1 1 auto;
//     position: relative;
//     display: flex;
//     height: 150px;
//     align-items: stretch;
//     display: flex;
//     flex-direction: column;

//     .header-date-container {
//         color: #fff;
//         font-size: 100%;
//         text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
//         user-select: none;
//         position: relative;
//         display: inline-block;
//         transition: opacity 0.5s ease;
//         vertical-align: top;

//         span {
//             position: relative;
//             display: inline-block;
//             color: hsla(0, 0%, 100%, 0.85);
//             font-size: 106.25%;
//             font-weight: 500;
//             line-height: 60px;
//             transition: color .1s ease,
//             text-shadow .1s ease,
//             opacity 0.5s ease;
//             cursor: pointer;
//             padding: 0 38px;
//             padding-left: 20px;
//         }
//     }
// }