.date-top-left {
    color: #fff;
    font-size: 100%;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    user-select: none;
    flex: 1 1 auto;
    position: relative;
    display: flex;
    // --max-height: 60px;
    // --side-padding: 8px;
    height: 150px;
    align-items: stretch;
    display: flex;
    flex-direction: column;

    .header-date-container {
        color: #fff;
        font-size: 100%;
        text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
        user-select: none;
        position: relative;
        display: inline-block;
        transition: opacity 0.5s ease;
        vertical-align: top;

        span {
            position: relative;
            display: inline-block;
            color: hsla(0, 0%, 100%, 0.85);
            font-size: 106.25%;
            font-weight: 500;
            line-height: 60px;
            transition: color .1s ease,
            text-shadow .1s ease,
            opacity 0.5s ease;
            cursor: pointer;
            padding: 0 38px;
            padding-left: 20px;
        }
    }
}