@import "./_variable";

@mixin icon-size($size) {
    height: $size;
    width: $size;
}

@mixin icon-hover-background($size) {
    content: "";
    height: icon-size($size);
    width: icon-size($size);
    position: absolute;
    z-index: 0;
    display: block;
    border-radius: 50px;
}