footer {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

footer svg {
  height: 25px;
}

footer .footer-left-container {
  display: flex;
  align-items: flex-end;
  flex: 0 0 188px;
}

footer .footer-left-container .settings-icon-container {
  position: relative;
  display: inline-block;
  transition: opacity 0.5s ease;
}

footer .footer-left-container .settings-icon-container .setting-icon-toggle {
  position: relative;
  cursor: pointer;
  padding: 0 15px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.85);
  font-size: 106.25%;
  font-weight: 500;
  height: 60px;
  padding-right: 15px;
  line-height: 67px;
  opacity: .5;
  transition: opacity .15s ease, filter .15s ease;
  padding-left: 20px;
}

footer .footer-left-container .settings-icon-container .setting-icon-toggle svg {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.85);
  font-size: 106.25%;
  font-weight: 500;
  line-height: 67px;
  box-sizing: inherit;
  height: 18px;
  width: 18px;
  transition: transform 0.15s linear;
}

footer .footer-left-container .photo-info-container {
  position: relative;
  height: 60px;
  min-width: 135px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0s ease, opacity 1s ease, transform 1s ease;
}

footer .footer-left-container .photo-info-container .photo-info-name {
  height: 18px;
  transition: all 0.3s ease;
  z-index: 2;
  opacity: 0.8;
  cursor: default;
  font-size: 0.8125rem;
  transform: translateZ(0) translateY(10px);
  white-space: nowrap;
}

footer .footer-left-container .photo-info-container .photo-source {
  height: 18px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  opacity: 0;
  font-size: 0.6875rem;
  transform: translateZ(0) translateY(-8px);
  white-space: nowrap;
}

footer .footer-left-container .photo-info-container .photo-source .photo-source-link {
  font-size: 0.6875rem;
  white-space: nowrap;
  box-sizing: inherit;
  margin: -3px;
  margin-right: 0px;
  padding: 3px;
  opacity: 0.7;
  cursor: pointer;
  line-height: 20px;
  transition: all 0.2s ease;
  vertical-align: top;
}

footer .footer-left-container .photo-info-container .photo-source .photo-source-control {
  height: 16px;
  width: 20px;
  padding: 0 1px;
  position: relative;
  display: inline-block;
  opacity: 0.7;
  box-sizing: content-box;
  cursor: pointer;
}

footer .footer-left-container .photo-info-container .photo-source .photo-source-control svg {
  width: 15px;
  height: 15px;
}

footer .footer-left-container .photo-info-container .photo-source .photo-source-control .skip-icon-container {
  color: #fff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  font-size: 0.6875rem;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: inherit;
  position: absolute;
  height: 17px;
  width: 100%;
  top: 0;
  overflow: hidden;
  left: 2px;
}

footer .footer-left-container .photo-info-container:hover .photo-info-name {
  transform: translateZ(0) translateY(0);
}

footer .footer-left-container .photo-info-container:hover .photo-source {
  opacity: 1;
  transform: translateZ(0) translateY(0);
}

footer .footer-center-container {
  display: flex;
  align-items: flex-end;
  min-width: 0;
  flex: 1 1 auto;
}

footer .footer-center-container .footer-center-display {
  position: relative;
  transition: opacity 0.5s ease;
  height: 58px;
  width: auto;
  margin: 0 auto;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  text-align: center;
  box-sizing: content-box;
}

footer .footer-center-container .footer-center-display .footer-center-text-container {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: inherit;
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.2;
  transition: all 0.35s ease;
  display: block;
  position: relative;
  font-size: 1.125rem;
  user-select: text;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-body-text {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.2;
  font-size: 1.125rem;
  user-select: text;
  box-sizing: inherit;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-text-below {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  user-select: text;
  box-sizing: inherit;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.2;
  transition: all 0.35s ease;
  position: absolute;
  bottom: -27px;
  left: 50%;
  font-size: 0.875rem;
  opacity: 0;
  transform: translate(-50%, -22px);
  white-space: nowrap;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-text-below .footer-center-text-below-name {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  user-select: text;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.2;
  font-size: 0.875rem;
  white-space: nowrap;
  box-sizing: inherit;
  margin-right: 4px;
  opacity: 0.75;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-text-below .control {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  user-select: text;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.875rem;
  white-space: nowrap;
  height: 16px;
  width: 25px;
  padding: 6px 2px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 100%;
  opacity: 0.75;
  transition: opacity 0.5s ease;
  vertical-align: middle;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-text-below .control svg {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  --app-container-transition: opacity 0.5s ease;
  text-align: center;
  user-select: text;
  color: rgba(255, 255, 255, 0.902);
  font-size: 0.875rem;
  white-space: nowrap;
  cursor: pointer;
  line-height: 100%;
  box-sizing: inherit;
  vertical-align: top;
  opacity: 1;
  fill: #fff;
  height: 16px;
  position: absolute;
  top: 0px;
  left: 3px;
  width: 15px;
  height: 15px;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-text-below .control .love-icon {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  --app-container-transition: opacity 0.5s ease;
  text-align: center;
  user-select: text;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.875rem;
  white-space: nowrap;
  cursor: pointer;
  line-height: 100%;
  box-sizing: inherit;
  vertical-align: top;
  opacity: 1;
  fill: #fff;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 3px;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-text-below .control-skip {
  width: 18px;
  margin-left: -2px;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-text-below .control-skip .icon-container {
  position: absolute;
  height: 17px;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-text-below:hover {
  opacity: 1;
}

footer .footer-center-container .footer-center-display:hover .footer-center-text-container {
  transform: translateY(-50%);
}

footer .footer-center-container .footer-center-display:hover .footer-center-text-container .footer-center-text-below {
  opacity: 1;
  transform: translate(-50%, 0);
}

footer .footer-right-container {
  color: #fff;
  font-size: 100%;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  user-select: none;
  display: flex;
  align-items: flex-end;
  flex: 0 0 188px;
  justify-content: flex-end;
}

footer .footer-right-container .footer-todo-container {
  color: #fff;
  font-size: 100%;
  user-select: none;
  position: relative;
  --app-container-transition: opacity 0.5s ease;
  display: inline-block;
  transition: opacity 0.5s ease;
  text-shadow: none;
  text-align: right;
}

footer .footer-right-container .footer-todo-container .footer-todo-toggle {
  user-select: none;
  text-shadow: none;
  text-align: right;
  box-sizing: inherit;
  position: relative;
  cursor: pointer;
  padding: 0 15px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.85);
  font-size: 106.25%;
  font-weight: 500;
  line-height: 60px;
  transition: color .1s ease, text-shadow .1s ease, opacity 0.5s ease;
  padding-right: 20px;
}
/*# sourceMappingURL=footer.css.map */