footer {
  color: #fff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  user-select: none;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

footer svg {
  height: 25px;
}

footer .footer-center-container {
  color: #fff;
  font-size: 100%;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  user-select: none;
  box-sizing: inherit;
  display: flex;
  align-items: flex-end;
  min-width: 0;
  flex: 1 1 auto;
}

footer .footer-center-container .footer-center-display {
  color: white;
  font-size: 100%;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  user-select: none;
  position: relative;
  transition: opacity 0.5s ease;
  height: 58px;
  width: auto;
  margin: 0 auto;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  text-align: center;
  box-sizing: content-box;
}

footer .footer-center-container .footer-center-display .footer-center-text-container {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: inherit;
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.2;
  transition: all 0.35s ease;
  display: block;
  position: relative;
  font-size: 1.125rem;
  user-select: text;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-body-text {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.2;
  font-size: 1.125rem;
  user-select: text;
  box-sizing: inherit;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-text-below {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  user-select: text;
  box-sizing: inherit;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.2;
  transition: all 0.35s ease;
  position: absolute;
  bottom: -27px;
  left: 50%;
  font-size: 0.875rem;
  opacity: 0;
  transform: translate(-50%, -22px);
  white-space: nowrap;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-text-below .footer-center-text-below-name {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  user-select: text;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.2;
  font-size: 0.875rem;
  white-space: nowrap;
  box-sizing: inherit;
  margin-right: 4px;
  opacity: 0.75;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-text-below .control {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  user-select: text;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.875rem;
  white-space: nowrap;
  height: 16px;
  width: 16px;
  padding: 6px 2px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 100%;
  opacity: 0.75;
  transition: opacity 0.5s ease;
  vertical-align: middle;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-text-below .control svg {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  --app-container-transition: opacity 0.5s ease;
  text-align: center;
  user-select: text;
  color: rgba(255, 255, 255, 0.902);
  font-size: 0.875rem;
  white-space: nowrap;
  cursor: pointer;
  line-height: 100%;
  box-sizing: inherit;
  vertical-align: top;
  opacity: 1;
  fill: #fff;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 3px;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-text-below .control svg path {
  fill: white;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-text-below .control .love-icon {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  --app-container-transition: opacity 0.5s ease;
  text-align: center;
  user-select: text;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.875rem;
  white-space: nowrap;
  cursor: pointer;
  line-height: 100%;
  box-sizing: inherit;
  vertical-align: top;
  opacity: 1;
  fill: #fff;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 3px;
}

footer .footer-center-container .footer-center-display .footer-center-text-container .footer-center-text-below:hover {
  opacity: 1;
}

footer .footer-center-container .footer-center-display:hover .footer-center-text-below {
  opacity: 1;
  transform: translate(-50%, 0);
}
/*# sourceMappingURL=footer.css.map */