@import "../../style/variable";

.nav {
    transition: opacity 0.5s ease;
    margin: 0 -2px;
    position: absolute;
    top: 1px;
    left: 2.5px;
    display: flex;
    background: $app-background;
    border-radius: 100px;

    .nav-item {
        transition: opacity 0.5s ease;
        box-sizing: inherit;
        position: relative;
        padding: $icon-padding;


        .icon {
            transition: opacity 0.5s ease;
            height: $icon-size;
            width: $icon-size;
            padding: $icon-padding calc($icon-padding - 4px);
            box-sizing: content-box;
            cursor: pointer;
            vertical-align: top;
            opacity: 0.5;
            fill: $icon-color;

            &:first-child {
                padding-left: calc($icon-padding + 2px);
            }
        }

        &:hover {
            transition: opacity 0.5s ease;

            svg {
                opacity: 1;
                transition: opacity 0.5s ease;
                fill: hsl(0, 0%, 100%);
            }

            .tooltip {
                display: block;
            }
        }

        .tooltip {
            padding: 3px 5px;
            position: absolute;
            top: calc(100% + 2px);
            left: 50%;
            display: none;
            background: hsla(0deg, 0%, 15%, 95%);
            border-radius: 4px;
            color: hsl(0, 0%, 100%);
            font-size: 0.8125rem;
            transform: translateX(-50%);
            white-space: nowrap;
        }
    }
}