* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
  font-size: 100%;
  /* transition: opacity 0.5s ease; */
      /* font-family: -apple-system,
      BlinkMacSystemFont,
      "Neue Haas Grotesk Text Pro",
      "Helvetica Neue",
      Helvetica,
      Arial,
      sans-serif; */
      -webkit-user-select: none; 
      /* Safari */
      -ms-user-select: none; 
      /* IE 10 and IE 11 */
      user-select: none;
      /* Standard syntax*/
}


body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url("https://images.pexels.com/photos/4201659/pexels-photo-4201659.jpeg"); */
  background: url("https://images.pexels.com/photos/1287145/pexels-photo-1287145.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(0, 0%, 100%);
  min-height: 100vh;
}
